@charset "utf-8";
/* latin-ext */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'), url(https://fonts.gstatic.com/s/bebasneue/v11/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/bebasneue/v11/JTUSjIg1_i6t8kCHKm459Wlhyw.woff) format('woff');
}
html {
 /*box sizing------------------------*/
    box-sizing: border-box;
}
    *, *::before, *::after {
    box-sizing: inherit;
}
body {
    min-height: 100vh;
    margin: 20px;
    color: white;
    background: lightgrey url("images/lover.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

  /*header*/
}
header {

    background-color: rgba(236, 129, 207, 0.1);
    text-align: center;
    opacity: 0.8;
    padding: 3rem 10% 2.5rem;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 5rem;
    margin: 0 0.5rem;
    padding-top: 0.5rem;
    color:white;
    text-shadow: rgb(255, 0, 208) 0px 0px 10px;
    margin-bottom: 2rem;

}
main {

    padding: 0 10%;

}

/* Article section */
article {
  background-color: rgba(48, 41, 41, 0.392);
  padding: 1.25rem;
  margin: 1.25rem 0;
  line-height: 2rem;
  border-radius: 12px;
  max-width: 700px;

}

/*h2 */
h2 {
    text-align: left;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 8px 8px 8px 8px;
    letter-spacing: 2px;
    color: rgba(255, 140, 1, 0.948);
}


/*/paragraphs*/
p {
  font-size: 1.25rem;
  line-height: 1.6rem;
  color: white;

}
/* Lyrics blocks */

blockquote p {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0);
  font-style: italic;

}
footer {
    padding: 10%;
    text-align: center;
    opacity: 0.9;                                    
}

footer a {
    color: #fffeff;
    padding: 0.5rem;
}